<p align="center">
  <img src="assets/banner.png" width="200">
</p>

[![Code style: ruff-format](https://img.shields.io/badge/code%20style-ruff_format-6340ac.svg)](https://github.com/astral-sh/ruff)
![Coverage Status](https://raw.githubusercontent.com/{{ github_org }}/{{ project_name }}/main/coverage-badge.svg)

<h1 align="center">
{{ project_name }}
</h1>

<br>


{{ short_description}}

## 🔥 Usage

> TODO show in a very small amount of space the **MOST** useful thing your package can do.
> Make it as short as possible! You have an entire set of docs for later.

## 👩‍💻 Installation

Create a new environment, you may also give the environment a different name. 

```
conda create -n {{ package_name }} python=3.10 
```

```
conda activate {{ package_name }}
```

If you need jupyter lab, install it 

```
({{ package_name }}) $ pip install jupyterlab
```


## 🛠️ Development installation

To install, run

```
({{ package_name }}) $ pip install -e ".[test,doc]"
```

To run style checks:

```
({{ package_name }}) $ pip install pre-commit
({{ package_name }}) $ pre-commit run -a
```

### Run style checks, coverage, and tests

```
({{ package_name }}) $ pip install tox
({{ package_name }}) $ tox
```

### Generate coverage badge

Works after running `tox`

```
({{ package_name }}) $ pip install "genbadge[coverage]"
({{ package_name }}) $ genbadge coverage -i coverage.xml
```


